# This file defines the menu entries as following:
# Menu path,  "name", java class (a plugin)
# Make sure that the name is unique, since it is macro-recorded.
# Also make sure to have spaces after commas not before (sounds crazy but I previously had some issues with menu disappearing)

# Examples
Acquifer>Examples, "All examples on GitHub", ij.plugin.BrowserLauncher("https://github.com/acquifer/acquifer-IJ-examples/tree/main/src/main/resources")

## Macro
Acquifer>Examples>Macro, "Parse metadata from filename (macro)", acquifer.examples.ExampleOpener("macro/parseMetadata.ijm")
Acquifer>Examples>Macro, "Make hyperstacks macro-functions",     acquifer.examples.ExampleOpener("macro/HyperstacksFromDirectory.ijm")

## Jython
Acquifer>Examples>Jython>Data-structures, "ImagePlane", acquifer.examples.ExampleOpener("jython/Data-structure/ImagePlane.py")
Acquifer>Examples>Jython>Data-structures, "Dataset",    acquifer.examples.ExampleOpener("jython/Data-structure/Dataset.py")

Acquifer>Examples>Jython>Metadata, "Parse metadata from filename (scripting)", acquifer.examples.ExampleOpener("jython/metadatas/parseMetadata.py")
Acquifer>Examples>Jython>Metadata, "The Metadata object",                      acquifer.examples.ExampleOpener("jython/metadatas/metadataObject.py")
Acquifer>Examples>Jython>Metadata, "Filter list of Metadata",                  acquifer.examples.ExampleOpener("jython/metadatas/filterMetadatas.py")
Acquifer>Examples>Jython>Metadata, "Group images of identical well/position",  acquifer.examples.ExampleOpener("jython/metadatas/groupByWell.py")
Acquifer>Examples>Jython>Metadata, "Occurence of a value along a dimension",   acquifer.examples.ExampleOpener("jython/metadatas/CountDimensions.py")


Acquifer>Examples>Jython, "Copy dataset",                              acquifer.examples.ExampleOpener("jython/copyDataset.py")
Acquifer>Examples>Jython, "Call hyperstack plugin in a script",        acquifer.examples.ExampleOpener("jython/CallHyperstackPlugin.py")
Acquifer>Examples>Jython, "List IM image files in a directory",        acquifer.examples.ExampleOpener("jython/ListImageFiles.py")
Acquifer>Examples>Jython, "Sort list of image files",                  acquifer.examples.ExampleOpener("jython/SortImageList.py")
Acquifer>Examples>Jython, "Make hyperstack (scripting)",               acquifer.examples.ExampleOpener("jython/MakeHyperstack.py")
Acquifer>Examples>Jython, "VirtualPlate for plate-montage",            acquifer.examples.ExampleOpener("jython/PlateMontage.py")
Acquifer>Examples>Jython, "Custom batch dialog",                       acquifer.examples.ExampleOpener("jython/CustomBatchDialog.py")
#Acquifer>Examples>List image files in a directory, "macro example (IM03)", acquifer.examples.ExampleOpener("ListImageFiles/fileList-im03.ijm")

## Jython / TcpIp
Acquifer>Examples>Jython>TcpIp, "1) Open/Close RunScript",   acquifer.examples.ExampleOpener("jython/TcpIp/1_Open_Close_RunScript.py")
Acquifer>Examples>Jython>TcpIp, "2) GetStatus",              acquifer.examples.ExampleOpener("jython/TcpIp/2_GetStatus.py")
Acquifer>Examples>Jython>TcpIp, "3) Objective_movements",    acquifer.examples.ExampleOpener("jython/TcpIp/3_ObjectiveMovements.py")
Acquifer>Examples>Jython>TcpIp, "4) Light sources",          acquifer.examples.ExampleOpener("jython/TcpIp/4_LightSources.py")
Acquifer>Examples>Jython>TcpIp, "5) Camera settings",        acquifer.examples.ExampleOpener("jython/TcpIp/5_Camera.py")
Acquifer>Examples>Jython>TcpIp, "6) Autofocus",              acquifer.examples.ExampleOpener("jython/TcpIp/6_Autofocus.py")
Acquifer>Examples>Jython>TcpIp, "7) Acquire",                acquifer.examples.ExampleOpener("jython/TcpIp/7_Acquire.py")
Acquifer>Examples>Jython>TcpIp, "8) Temperature regulation", acquifer.examples.ExampleOpener("jython/TcpIp/8_TemperatureRegulation.py")
Acquifer>Examples>Jython>TcpIp, "Example experiment",        acquifer.examples.ExampleOpener("jython/TcpIp/ExampleExperiment.py")


## Batch Hyperstack
### Macro
Acquifer>Examples>Batch hyperstack (macro), "Saving images",                 acquifer.examples.ExampleOpener("Batch_hyperstack_macro/Saving_images.ijm")
Acquifer>Examples>Batch hyperstack (macro), "Process and save active image", acquifer.examples.ExampleOpener("Batch_hyperstack_macro/Process_active_image.ijm")
Acquifer>Examples>Batch hyperstack (macro), "Use image titles",              acquifer.examples.ExampleOpener("Batch_hyperstack_macro/template.ijm")

### Script files
Acquifer>Examples>Batch hyperstack (script), "Batch hyperstack macro file", acquifer.examples.ExampleOpener("Batch_hyperstack_script/batch_hyperstack_macro.ijm")
Acquifer>Examples>Batch hyperstack (script), "Batch hyperstack jython",     acquifer.examples.ExampleOpener("Batch_hyperstack_script/batch_hyperstack_jython.py")

## Batch list images
### Macro text
Acquifer>Examples>Batch process images (macro), "Print image path", acquifer.examples.ExampleOpener("Batch_images_macro/printImagePath.ijm")
Acquifer>Examples>Batch process images (macro), "Metadata table",   acquifer.examples.ExampleOpener("Batch_images_macro/metadataToTable.ijm")
Acquifer>Examples>Batch process images (macro), "Find edges",       acquifer.examples.ExampleOpener("Batch_images_macro/templateMacro.ijm")

### Script files
Acquifer>Examples>Batch process images (script), "Batch(file) template macro",  acquifer.examples.ExampleOpener("Batch_images_script/Process_images_macro.ijm")
Acquifer>Examples>Batch process images (script), "Batch(file) template jython", acquifer.examples.ExampleOpener("Batch_images_script/Process_images_jython.py")



# Documentation URL
# Could use also ij.plugin.URLOpener
Acquifer>Documentation, "Acquifer Fiji utilities",              ij.plugin.BrowserLauncher("https://www.acquifer.de/resources/acquifer-fiji-utilities/")
Acquifer>Documentation, "Metadata encoding",                    ij.plugin.BrowserLauncher("https://www.acquifer.de/metadata/")
Acquifer>Documentation, "Batch plugins",                        ij.plugin.BrowserLauncher("https://www.acquifer.de/fiji-batch-plugins/")
Acquifer>Documentation, "Examples on the GitHub repository",    ij.plugin.BrowserLauncher("https://github.com/acquifer/acquifer-IJ-examples/tree/main/src/main/resources")
Acquifer>Documentation, "Acquifer Java packages",               ij.plugin.BrowserLauncher("https://www.acquifer.de/resources/acquifer-java-packages")
Acquifer>Documentation, "acquifer-IJ Java API documentation",   ij.plugin.BrowserLauncher("https://acquifer.github.io/acquifer-IJ")
Acquifer>Documentation, "acquifer-core Java API documentation", ij.plugin.BrowserLauncher("https://acquifer.github.io/acquifer-core")

# Contact
Acquifer, "Contact Us", ij.plugin.BrowserLauncher("https://www.acquifer.de/contact/")